:root{
    --main :#e34c26;
    --green: rgb(6, 223, 53);
}


*{
    font-family: 'Tilt Warp', cursive;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: calc(0.8vmax + calc(0.5vmin + 10px));
}

html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: stretch;
}

p + p{
    margin-bottom: 40px;
}

button{
    align-self: flex-start;
    background-color: var(--main);
    color: white;
	border: none;
	padding: 20px;
    border-radius: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition-property: background-color;
    transition: 0.2s;
}

button:hover{
    background-color: var(--green);
}

button:active{
    scale:0.9;
    color : var(--green);
}

a{
    text-decoration: none;
    color: var(--main);
}

a:hover{
    color: var(--green);
}

form > h2{
    margin-bottom: 20px;
}


.right p,
.right button{
    margin-left: calc(20px + 2vmax);
    margin-right: calc(20px + 2vmax);;
}

.right {
    font-size: 1.2rem;
}


.left
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    flex:2 4;
    background-size: auto 150%;
    background-position: center;
    background-image: url(img/prison.jpg);
}
.right{
    padding: 50px 0;
    flex:3;
    display: flex;
    gap: 20px   ;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228, 231, 240);
}

form{
    padding: calc(20px + 2vmin) calc(20px + 2vmax);
    background-color: white;
    box-shadow: -6px 1px 64px -22px rgba(70,130,163,1);
}

label{
    font-family: 'zillah_modern_thinregular';
    font-size: 1.2em;
    opacity: 0.7;
    margin-bottom: 5px;

}

fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 10px;

}

.input-wrapper{
    flex : 1;
    min-width: max(40%, 200px);
    display: flex;
    flex-direction: column;

}

.h1cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.gitLink{
    font-family: 'zillah_modernregular';
    color: white;
    font-size: 1.5em;
}

.gitLink:hover{
    color: var(--green);

}

.login:hover{
    color: var(--green);
}

.author{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: auto;
    text-align: center;
}

.logo{
    width: 4.5em;
}

.already{
    display: flex;
    flex-wrap: wrap;
}

.already p{
    margin-right: 10px;
}

@font-face {
    font-family: 'zillah_modernregular';
    src: url('fonts/webfontkit-20230224-014342/zillm___-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230224-014342/zillm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zillah_modern_thinregular';
    src: url('fonts/webfontkit-20230224-014342/zillmt__-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20230224-014342/zillmt__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 800px){

    *{
        text-align: center;
        font-size: inherit;
    }

    .logo{
        width: 1.5em;
    }

    body{
        flex-direction: column;
    }

    .left{
        min-height: 30vmax;
        background-size: 100% auto;
        background-position: center top 35%;
    }


    .input-wrapper{
        min-width: max(40%, 300px);
    }

    .right{
        align-items: center;
    }

    button{
        align-self: normal;
    }

    .h1cont{
        opacity: 0.8;
        background:none
    }
}